// Color Settings
$background-color: #FDFDFE;
$text-color: #444444;
$secondary-text-color: #82969C;
$accent-color: #f90094;
$secondary-accent-color: #7a014f;
$highlight-color: RGBA(147, 187, 201, 0.5);

// Font Family
$font-family: "Museo-Sans Regular", "Helvetica Neue", "Arial", sans-serif;