<footer class="footer" role="contentinfo">
	<div class="social-links-line"></div>
	<section class="social-links">
        <div class="social-links-inner">
        	{{> social-links}}
        </div>               
    </section>
</footer>