{{! RSS }}
<a class="icon icon-feed" href="{{@blog.url}}/rss/" target="_blank">
	<i class="fa fa-rss"></i>
</a>

{{! Twitter }}
<a class="icon icon-twitter" href="http://twitter.com/" target="_blank">				
	<i class="fa fa-twitter"></i>
</a>

{{! Facebook }}
<a class="icon icon-facebook" href="http://facebook.com/" target="_blank">
	<i class="fa fa-facebook"></i>
</a>

{{! Google Plus }}
<a class="icon icon-google-plus" href="http://plus.google.com/" target="_blank">
	<i class="fa fa-google-plus"></i>
</a>

{{! Dribbble }}
<a class="icon icon-dribbble" href="http://dribbble.com/" target="_blank">
	<i class="fa fa-dribbble"></i>
</a>

{{! Flickr }}
<a class="icon icon-flickr" href="http://flickr.com/" target="_blank">
	<i class="fa fa-flickr"></i>
</a>

{{! Foursquare }}
<a class="icon icon-foursquare" href="http://foursquare.com/" target="_blank">
	<i class="fa fa-foursquare"></i>
</a>

{{! Instagram }}
<a class="icon icon-instagram" href="http://instagram.com/" target="_blank">
	<i class="fa fa-instagram"></i>
</a>

{{! Github }}
<a class="icon icon-github" href="http://github.com/" target="_blank">
	<i class="fa fa-github"></i>
</a>

{{! Tumblr }}
<a class="icon icon-tumblr" href="http://tumblr.com/" target="_blank">
	<i class="fa fa-tumblr"></i>
</a>

{{! Pinterest }}
<a class="icon icon-pinterest" href="http://pinterest.com/" target="_blank">
	<i class="fa fa-pinterest"></i>
</a>

{{! LinkedIn }}
<a class="icon icon-linkedin" href="http://linkedin.com/" target="_blank">
	<i class="fa fa-linkedin"></i>
</a>

{{! VK }}
<a class="icon icon-vk" href="http://vk.com/" target="_blank">
	<i class="fa fa-vk"></i>
</a>